@import url(sanitize.css);
@import '~@angular/cdk/overlay-prebuilt.css';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration:  none;
}

ul {
  padding: 0;
}

li {
  list-style:  none;
  &::before { display: none; }
}

.mat-icon {
  vertical-align: bottom;
}
