@(vv: model.ViewValueCommon)(content: Html)

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>@vv.title</title>
    <base href-"/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @for(ngJs <- vv.ngJsSrc) {
<script defer src=@routes.Assets.versioned(s"dist/${ngJs}") type="text/javascript"></script>
    }
    @for(ngCss <- vv.ngCssSrc) {
    <link href="@{routes.Assets.versioned(s"stylesheets/${ngCss}")}" rel="stylesheet" media="screen">
    }
  </head>
  <body>
    @content
  </body>
</html>
