<nav id="global-navigation">
  <ul class="navigation">
    <li><a href="/">KPTup</a></li>
    <li class="navigation__category-name">ANALIZE</li>
    <ul>
      <li><a class="navigation__item on" href="#">
        <mat-icon>table_chart</mat-icon>
        ボード
      </a></li>
      <li><a class="navigation__item" href="#">
        <mat-icon>timeline</mat-icon>
        ロードマップ
      </a></li>
    </ul>
    <li class="navigation__category-name">MANAGE</li>
    <ul>
      <li><a class="navigation__item" href="#">
        <mat-icon>local_offer</mat-icon>
        タグ
      </a></li>
      <li><a class="navigation__item" href="#">
        <mat-icon>settings</mat-icon>
        設定
      </a></li>
    </ul>
  </ul>
</nav>
