<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularElementsSample</title>
    <base href-"/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>api</h1>
    <!-- Custom Elementを表示させる -->
    <app-hello
      name="Angular Elements!"
      class="angular-elemtents-sample"
    >loading</app-hello>

    <!-- 出力されたファイルを読み込む -->
    <script type="text/javascript" src=@routes.Assets.versioned("js/ng-elements.js")></script>

  </body>
</html>
