<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AngularElementsSample</title>
    <base href-"/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 本番用 -->
    <!-- <script defer type="text/javascript" src=@routes.Assets.versioned("js/ng-elements.js")></script> -->
    <!-- 開発用 -->
    <script defer type="text/javascript" src=@routes.Assets.versioned("dist/main.js")></script>
    <script defer type="text/javascript" src=@routes.Assets.versioned("dist/polyfills.js")></script>
    <script defer type="text/javascript" src=@routes.Assets.versioned("dist/runtime.js")></script>
    <script defer type="text/javascript" src=@routes.Assets.versioned("dist/vendor.js")></script>
  </head>
  <body>
    <h1>api</h1>
    <!-- Custom Elementを表示させる -->
    <app-hello
      name="Angular Elements!"
      class="angular-elemtents-sample"
    >loading</app-hello>

  </body>
</html>
