@import url(sanitize.css);
@import './variables/variables';

@import '~@angular/material/theming';
@include mat-core();

:host {
  a {
    text-decoration:  none;
  }

  ul {
    padding: 0;
  }

  li {
    list-style:  none;
    &::before {
    display: none;
    }
  }

  .mat-icon {
    vertical-align: bottom;
  }

}
